*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

}

body{
    background: rgb(60, 60, 60);
    color: white;
    min-height: 100vh;
}

/* MENU */

.menu{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20%;
    gap: 19px;
}

.menu--logo {
    position: absolute;
    left: 20%;
}

.FHlogo{
    width: 140px;
}

.icon{
    width: 25px;
    height: 25px;
}

.search--button{
    border: none;
    background: none;
    cursor: pointer;
}

#search--input {
  width: 0;
  opacity: 0;
  padding: 6px 0;
  margin-left: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease, opacity 0.3s ease;
  background: #fff;
}

#search--input.active {
  width: 150px;
  opacity: 1;
  padding: 6px 8px;
}

.menu--rozdelovac{
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    top: -2px;
}

.rozdelovac--maly{
    height: 30px;
}

.rozdelovac--velky{
    height: 50px;
}

a{
    text-decoration: none;
    color: white;
}

/* FOOTER */

.footer--top{
    width: 100%;
    height: 80px;
    background: rgb(40, 40, 40);
    display: flex;
    padding: 0 25%;
}

.footer--bottom{
    width: 100%;
    height: 20px;
    background: rgb(40, 40, 40);
    padding: 0 28.6%;
}

.odkazy{
    width: 25%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.odkazy ul{
    list-style: none;
}

.kontakty{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.socialnisite{
    width: 25%;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}