@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* font-family: "Archivo Black", sans-serif; main nadpis*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: "Bebas Neue", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* font-family: "Oswald", sans-serif; text */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: rgb(111, 111, 111);
    color: white;
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
}

/* MENU */

.menu {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
    background: rgba(0, 0, 0, 0.475);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
    gap: 19px;
    position: fixed;
    top: 0;
    z-index: 10000000;
}

.menu__odkazy {
    gap: 19px;
    display: flex;
    align-items: center;
}

.menu__odkazy a{
    color: rgb(164, 164, 164);
    transition: color, scale 0.5s ease;
}

.menu__odkazy a:hover{
    color: white;
    scale: 1.07;
}

.hamburgerBtn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.menu__odkazy--hamburger {
    position: absolute;
    top: 60px;
    right: 50px;
    background: #333;
    display: none;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px 0;
    z-index: 1;
}

.menu__odkazy--hamburger a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.menu__odkazy--hamburger a:hover {
    background: #444;
}

.menu__odkazy--hamburger.show {
    display: flex;
}

.menu--logo {
    position: absolute;
    left: 10%;
}

.FHlogo {
    width: 140px;
}

.icon {
    width: 27px;
    height: 27px;
    filter: invert(100%);
}

.menu__odkazy--produkty--text, .menu__odkazy--kontakt--text{
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.search--button {
    border: none;
    background: none;
    cursor: pointer;
}

#search--input {
    width: 0;
    opacity: 0;
    padding: 6px 0;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.3s ease, opacity 0.3s ease;
    background: #fff;
}

#search--input.active {
    width: 150px;
    opacity: 1;
    padding: 6px 8px;
}

.menu--rozdelovac {
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
}

#cartCount {
    display: none;
    transition: transform 0.3s ease;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 0 6px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

#cartCount.bump {
    transform: scale(1.3);
}


/* MAIN INDEX */


.hero {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/svg/leaf-gray.svg);
    background-repeat: repeat;
    background-color: #162018;
    background-size: 200px;
    box-shadow: 0px -70px 15px -40px #141618 inset;
}

.hero--content {
    position: relative;
    z-index: 2;
    top: -2%;
    padding: 50px;
    background: rgba(47, 47, 47, 0.11);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(77, 77, 77, 0.305), inset 0 4px 30px rgba(54, 54, 54, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.hero h1 {
    font-size: 7rem;
    letter-spacing: 7px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
}

.hero h1 span {
    color: #39b051;
}

.slogan {
    font-size: 1.7rem;
    margin: 10px 0 30px;
    color: #e0e0e0;
    font-family: "Oswald", sans-serif;
}

.slogan span {
    color: #39b051;
}

.hero--btn {
    background: #2c5123;
    color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    transition: 0.3s ease;
    font-weight: 600;
    font-size: 1.1rem;

}

.hero--btn:hover {
    background: #437639;
    padding: 15px 35px;
}


/* O FIRMĚ */


.about--company {
    background: #141618;
    color: #f5f5f5;
    text-align: center;
    padding: 80px 20px;
    min-height: 37vh;
}

.about--company h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #4b8b3b;
    font-family: "Bebas Neue", sans-serif;
}

.about--company p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 1.3rem;
    line-height: 1.7;
    text-align: center;
}


/* PROČ MY */


.why--us {
    background: #0f1112;
    color: #f5f5f5;
    text-align: center;
    padding: 50px 20px;
    min-height: 50vh;
}

.why--us h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: #4b8b3b;
    font-family: "Bebas Neue", sans-serif;
}

.duvody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.duvod {
    background: #1a1d1f;
    border-radius: 20px;
    padding: 30px;
    max-width: 250px;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.duvod:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 40px rgba(82, 153, 65, 0.4);
}

.duvod img {
    width: 70px;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.duvod--jedna:hover .jedna--img {
    scale: 1.2;
}

.duvod--dva:hover .dva--img {
    scale: 1.2;
}

.duvod--tri:hover .tri--img {
    scale: 1.2;
}

.duvod h3 {
    font-size: 1.3rem;
    color: #66b855;
    margin-bottom: 10px;
}

.duvod p {
    font-size: 1rem;
    color: #dcdcdc;
    line-height: 1.6;
}


/* SLIDESHOW */


.slideshow {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.6s ease;
}

.slide.one {
    background: rgb(127, 212, 105);
}

.slide.two {
    background: rgb(115, 176, 220);
}

.slide.three {
    background: rgb(202, 98, 98);
}

.slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

.slide h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.slide p {
    font-size: 1.1rem;
    opacity: 0.9;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
    z-index: 2;
}

.arrow:hover {
    background: rgba(255, 255, 255, 0.3);
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}


/* KONTAKT */


.contact-form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    padding-top: 13vh;
    min-height: 85vh;
    color: #fff;
    background-image: url(../images/svg/plus-gray.svg);
    background-repeat: repeat;
    background-color: #162018;
    background-size: 50px;
}

.contact--container{
    height: fit-content;
    width: 40%;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #00b894;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background-color: #019875;
}


/* O NÁS */


.onas--firma {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 40px;
    background-color: #162018;
    box-shadow: 0px -3.5px 0px 0px #525252 inset;
}

.onas--firma h1 {
    display: none;
}

.firma--logo {
    width: 350px;
    margin: 0 auto 20px;
}

.firma--slogan {
    font-size: 2.4rem;
    font-weight: 500;
    color: #3aac51;
    margin-top: 10px;
    font-family: "Bebas Neue", sans-serif;
}

.onas {
    text-align: center;
    padding: 40px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/svg/autumn-gray.svg);
    background-repeat: repeat;
    background-color: #162018;
    background-size: 150px;
}

.onas--uvod {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.onas--uvod--text--wrap{
    background: rgba(43, 43, 43, 0.245);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(57, 57, 57, 0.515), inset 0 4px 30px rgba(40, 40, 40, 0.137);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    padding: 30px;
    margin-bottom: 30px;
}

.onas--uvod h1 {
    font-size: 3rem;
    color: #2f9744;
    font-family: "Bebas Neue", sans-serif;
}

.onas--uvod p {
    font-size: 1.3rem;
}

.onas__fotka--tymu {
    width: fit-content;
    min-height: 500px;
    padding: 10px;
    background: rgba(43, 43, 43, 0.245);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(57, 57, 57, 0.515), inset 0 4px 30px rgba(40, 40, 40, 0.137);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.onas__fotka--tymu img{
    border-radius: 40px;
    height: 60vh;
}

.onas--clenove {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.clen {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 28px;
    width: 250px;
    color: rgb(255, 255, 255);
    background: rgba(43, 43, 43, 0.245);
    box-shadow: 0 4px 30px rgba(58, 58, 58, 0.47), inset 0 4px 30px rgba(85, 85, 85, 0.322);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

.clen--fotka {
    width: 100%;
    height: 200px;
    background-color: #bbb;
    border-radius: 8px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bohm {
    background-image: url(../images/clenove/bem.jpg);
}

.hepy {
    background-image: url(../images/clenove/hepner.jpg);
}

.kupec {
    background-image: url(../images/clenove/kupec.jpg);
}

.fifan {
    background-image: url(../images/clenove/fifan.jpg);
}

.kelly {
    background-image: url(../images/clenove/kelly.jpg);
}

.shelby {
    background-image: url(../images/clenove/shelby.jpg);
}

.krystyna {
    background-image: url(../images/clenove/nemamobrazekkrystyny.jpg);
}


/* PRODUKTY */


/* PACK TITLE A KOUPIT BTN */


#starter--pack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 60px 5% 60px 15%;
    padding-top: 10vh;
    background-image: url(../images/background-blue.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    box-shadow: 10px -120px 81px 1px #161a21 inset;
    color: #fff;
    height: 100vh;
}

#pack--title {
    width: 500px;
    opacity: 1;
    transition: opacity 0.4s ease;
    font-size: 4.5rem;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 3px;
    line-height: 88%;
}

#pack--title.hidden {
    opacity: 0;
}

.row {
    display: block;
    opacity: 1;
}

.row.hidden {
    opacity: 0;
}

.starter--pack--left {
    width: 500px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;

}

.starter--text h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.buy--btn {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.buy--btn:hover {
    background-color: #2b8a3e;
    border-color: #2b8a3e;
}

.starter--pack--right {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.pack--tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 45%;
    min-width: 100%;
    position: relative;
    bottom: 21%;
}

.pack--tabs span {
    display: flex;
    min-width: 35px;
    min-height: 35px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}

.pack--tabs span {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}

.pack--tabs .tab.active span {
    border: 1px solid white;
}

.pack--tabs .tab {
    width: 30%;
    height: 50px;
    background: transparent;
    color: #aaa;
    border: none;
    border-top: 2px solid rgb(43, 43, 43);
    padding: 8px 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.pack--tabs .tab:hover {
    border-top: 2px solid rgb(99, 99, 99);
}

.pack--tabs .tab.active {
    border-top: 2px solid white;
    color: #fff;
}


/* SPECIALITY */


.special {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 200px 15% 80px 15%;
    background: #0c110c;
    flex-direction: column;
}

.special--wrapper{
    width: 80%;
    display: flex;
    gap: 80px;
}

.special--wrapper .special--left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special--wrapper .special--left img {
    width: 350px;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.special--wrapper .special--right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
}

.list--wrapper {
  opacity: 1;
  transition: opacity 0.3s;
}

.list--wrapper.hidden {
  opacity: 0;
}

.special--title {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.special--text {
    font-size: 1.1rem;
    color: #555;
    max-width: 500px;
    line-height: 1.6;
}

.special--hexes {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.hex {
    height: 100px;
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    background: #6fb974;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 600;
    transition: transform 0.3s ease, background 0.3s ease;
}

.hex:hover {
    transform: scale(1.1);
    background: #3f8d44;
}

.eshop--odkaz {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 110%;
    padding: 10px 20px;
    background: lightgreen;
    border-radius: 20px;
}

.special--wrapper.special--dva{
    flex-direction: row-reverse;
}


/* VŠECHNY PRODUKTY - ESHOP */


.products {
    padding: 80px 8%;
    padding-top: 15vh;
    background-image: url(../images/svg/topography-gray.svg);
    background-repeat: repeat;
    background-color: #142217;
}

.products--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.products--header h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #dfdfdf;
}

#filterBtn {
    background: #3B8686;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#filterBtn:hover {
    background: #2f6d6d;
}

.products--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    gap: 20px;
    justify-content: center;
}

.product--card {
    min-height: 450px;
    width: 350px;

    background: #0000002c;
    backdrop-filter: blur(4px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);

    padding: 20px;
    padding-top: 40px;
    text-align: center;
    transition: transform 0.5s, backdrop-filter 0.5s ease, background 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product--card img {
    height: 200px;
    width: auto;
    object-fit: contain;
    margin-bottom: 15px;
    transition: scale 0.5s ease;
}

.product--card:hover {
    transform: translateY(-5px);
    backdrop-filter: blur(5px);
    background: #00000002;
}

.product--card:hover img{
    scale: 1.1;
}



.product--content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}


/* MODAL */


.product-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.product-modal-content {
    width: 100%;
    height: 60vh;
    background: #0b0707;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: pop 0.3s ease;
    position: relative;
}

@keyframes pop {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
}

.close:hover {
    color: #ff5555;
}

/* OVERLAY FILTER */


.filter--overlay {
    position: fixed;
    inset: 0;
    background: rgb(125, 125, 125);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.filter--overlay.active {
    display: flex;
}

.filter--content {
    background: #11161b;
    padding: 40px;
    border-radius: 15px;
    position: relative;
    width: 400px;
    text-align: left;
}

.close--filter {
    filter: invert(100%);
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.filter--options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0;
}

.apply-filter {
    background: #3B8686;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.apply--filter:hover {
    background: #2f6d6d;
}


/* KOŠÍK */

.cart--container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 5%;
    padding-top: 15vh;
    gap: 40px;
    flex-wrap: wrap;
    min-height: 85vh;
    background-image: url(../images/svg/hexagon-gray.svg);
    background-repeat: repeat;
    background-color: #162018;
    background-size: 40px;
}

.cart--items {
    flex: 1;
    min-width: 300px;
}

.table--wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.cart--table {
    width: 100%;
    min-width: 750px;
    border-collapse: collapse;
    white-space: nowrap;
}

tbody tr {
    height: auto;
    min-height: 90px;
    background: #0000009a;
}

.cart--table th {
    background: #000;
    color: #fff;
    padding: 12px;
    font-weight: 600;
}

.cart--table td {
    vertical-align: middle;
    padding: 14px 10px;
}

.cart--table tr {
    border-bottom: 1px solid #ddd;
}

.cart--product {
    min-width: 80px;
    width: 80px;
}

.cart--img {
    width: 70px;
    height: auto;
    display: block;
}

.cart--desc {
    min-width: 250px;
    max-width: 350px;
}

.cart--price,
.cart--subtotal,
.cart--qty {
    min-width: 100px;
    text-align: center;
}

.cart--deleteIcon {
    min-width: 60px;
    text-align: right;
}

.cart--product--th {
    text-align: left;
    min-width: 80px;
}

.cart--desc--th {
    text-align: left;
    min-width: 250px;
}

.cart--price--th,
.cart--subtotal--th {
    text-align: left;
    min-width: 100px;
}

.cart--qty--th {
    text-align: center;
    min-width: 100px;
}

.cart--qty input {
    width: 50px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 4px;
}

.qty--form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 100%;
}

.qty--btn {
    border: 1px solid #ccc;
    background: white;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    line-height: 0;
}

.qty--btn:hover {
    background: #f2f2f2;
}

.remove--item {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart--summary {
    min-width: 300px;
    background: #000;
    color: #fff;
    padding: 20px 24px;
    border-radius: 6px;
}

.cart--summary h3 {
    font-size: 20px;
    margin-bottom: 16px;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
}

.summary--row,
.summary--total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary--total span {
    color: #ff4d00;
    font-weight: 700;
}

.checkout--btn {
    margin-top: 20px;
    width: 100%;
    background: #9be44d;
    color: #000;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}

.checkout--btn:hover {
    background: #aaf25b;
}


/* FOOTER */


.footer a{
    text-decoration: underline;
    color: gray;
    transition: color 0.5s ease;
}

.footer a:hover{
    color: white;
}

.footer--top{
    width: 100%;
    height: 15vh;
    background: rgb(40, 40, 40);
    display: flex;
    padding: 0 25%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 45px 10px -35px rgba(0, 0, 0, 0.382) inset;
}

.footer--bottom{
    background: rgb(40, 40, 40);
    text-align: center;
    padding: 10px;
}

.odkazy {
    width: 25%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.odkazy ul {
    list-style: none;
}

.kontakty {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.kontakty a{
    font-size: 1.5rem;
}

.socialnisite {
    width: 25%;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.socialnisite a img{
    transition: 0.3s ease;
}

.socialnisite a img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 1451px) {

    .starter--pack--right,
    .starter--pack--left {
        width: 100%;
    }

    .starter--pack--left {
        gap: 80px;
    }

    .pack--tabs {
        left: -3.6%;
    }

    .starter--pack {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        padding: 60px 15%;
    }

    #starter--pack{
        padding-top: 15vh;
    }

    .tab {
        min-width: 150px;
    }

    .cart--price--th {

    }

    .footer--top{
        padding: 0 20%;
    }
}

@media only screen and (max-width: 1250px) {
    .cart--container {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 24px;
        padding-top: 15vh;
    }

    .cart--items {
        width: 100%;
        min-width: 0;
    }

    .table--wrapper {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .cart--table {
        width: 100%;
        min-width: 600px;
        white-space: nowrap;
    }

    .footer--top{
        padding: 0 15%;
    }
}

@media only screen and (max-width: 769px) {

    .starter--pack {
        height: 90vh;
    }

    .pack--tabs {
        bottom: 20%;
    }

    .menu__odkazy {
        display: none;
    }

    .hamburgerBtn {
        display: block;
    }

    .footer--top{
        padding: 0 0%;
    }

    .contact--container{
        width: 80%;
    }

    .pack--tabs{
        flex-direction: column;
    }

    .pack--tabs .tab{
        width: 100%;
        padding-top: 20px;
    }

}

@media only screen and (max-width: 730px) {
    .hero h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .table--wrapper {
        overflow-x: auto;
    }

    .cart--table {
        min-width: 750px;
    }

    .cart--img {
        width: 60px;
    }

    .cart--desc {
        min-width: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .footer--top{
        flex-direction: column;
        height: auto;
        min-height: fit-content;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px 0;
    }

    .odkazy, .socialnisite{
        border: none;
        padding: 15px;
    }

    .odkazy{
        border-bottom: 1px solid gray;
    }

    .socialnisite{
        border-top: 1px solid gray;
    }
}